<div class="container mt-5">
  <div class="shadow rounded p-3">
    <form [formGroup]="insuranceForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-md-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Name">
          <div *ngIf="f['name']?.invalid && f['name']?.touched">
            <div class="alert alert-danger">
              Name is required.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="dob">Select DOB</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #db="ngbDatepicker"
              formControlName="dob" />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="db.toggle()" type="button"></button>
          </div>
          <div *ngIf="f['dob']?.invalid && f['dob']?.touched">
            <div class="alert alert-danger">
              DOB is required.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="insurance_period">Select Insurance Period</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
              formControlName="insurance_period" />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
          <div *ngIf="f['insurance_period']?.invalid && f['insurance_period']?.touched">
            <div class="alert alert-danger">
              Insurance Period is required.
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <input type="checkbox" id="terms_and_condition" formControlName="terms_and_condition" />
          <label class="ms-2" for="terms_and_condition">Terms and Conditions</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Purpose of Use</label>
          <select class="form-control" formControlName="purpose_of_use">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="discount">Discount</label>
          <input type="text" class="form-control" formControlName="discount" placeholder="Discount">
        </div>
        <div class="col-md-3">
          <label for="licence_number">Licence Number</label>
          <input type="text" class="form-control" formControlName="licence_number" placeholder="Licence Number">
        </div>
        <div class="col-md-3">
          <label>Business Use Category</label>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="business_use_category" id="gridRadios1" value="1"
                formControlName="business_use_category">
              <label class="form-check-label" for="gridRadios1">
                First radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="business_use_category" id="gridRadios2" value="2"
                formControlName="business_use_category">
              <label class="form-check-label" for="gridRadios2">
                Second radio
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Payment Method</label>
          <select class="form-control" formControlName="payment_method">
            <option value="1">Account Transfer</option>
            <option value="2">Cash</option>
            <option value="3">Credit card</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Payment Type</label>
          <select class="form-control" formControlName="payment_type">
            <option value="1">Monthly</option>
            <option value="2">One Time</option>
            <option value="3">Yearly</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-outline-primary me-2" (click)="Reset()">Reset</button>
          <button type="submit" class="btn btn-primary" [disabled]="insuranceForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>